*
!build/*-runner
!build/*-runner.jar
!build/lib/*
!build/quarkus-app/*

!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*

*.Identifier
jwt
jwt/
/jwt/
.idea
.idea/
.gitignore
.dockerignore

*.iml
.DS_Store
.env
.mvn/
.vscode/
.git/
*.iml
.DS_Store